*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body{
font-family: 'Montserrat', sans-serif; 
}


/*
====================
Estilos globais
====================
*/


h1{
font-size: 4rem;
color: #E7E7E7;
font-weight: 900;
}

h2{
font-size: 3rem;
text-align: center;
color: #E7E7E7;
}

h3{
font-size: 1.5rem;
margin-bottom: 1rem;
}

h4{
font-size: 1.7rem;
}


h1, h2{
font-weight: 900;
margin: 2rem;
}

li{
  list-style-type:none;
}

a{
  text-decoration: none;
}

/*
=====================
Menu de navegação
=====================
*/

.menu{
  width: 100%;
  /* height: 6rem; */
  /* background-color: black; */
} 

.menu_de_navegacao{
  position: fixed;
  top: 0;
  right: 0;
}

.menu_de_navegacao ul{
  display: flex;   
}

.menu_de_navegacao li {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.menu_de_navegacao li:hover{
  background-color: #6937A9;
  color: black;
  transition: all .4s linear;
}

.menu_de_navegacao ul li a{
  color: #E7E7E7;
font-weight: 900;
}

/*
==================
icone hamburguer
==================
*/

.nav-btn{
  border: transparent;
  background: transparent;
  font-size: 2rem;
  color: #6937A9;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
.nav-btn:hover{
  color: #E7E7E7;
}


/*
==================
menu lateral/
==================
*/

.nav-lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0ce86;
    z-index: 1;
    position: absolute;
    transform: translate(-100%);
    transition: .5s;

}

.abrir-barra-lateral{
  transform: translateX(0);
}

.fechar-barra-lateral{
  transform: translateX(100%);
}


@media screen and (min-width:678px){
  .nav-lateral, .nav-btn{
      display: none;
  }
}

@media screen and (max-width:678px){
  .menu_de_navegacao{
      display: none;
  }
}

.nav-lateral li{
  margin: 2rem 0;
}
.nav-lateral li a{
  color: #6937A9;
  font-size: 2rem;
  font-weight: 700;
  transition: .5s;
}
.nav-lateral li a:hover{
  color: #B16CE3;
}

/*
===================
menu lateral - redes 
===================
*/
.nav-redes{
  display: inline-block;
}
.nav-rede{
  font-size: 2rem;
  color: #6937A9;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fotter-rede a{
  color: #6937A9;
  transition: .5s;
}

.nav-rede a:hover{
  color: #E7E7E7;
}



/*
====================
Banner 
====================
*/

.banner{
width: 100vw;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,.5), 
rgba(0,0,0,0.9)), url(../img/estatua-da-liberdade.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
text-align: center;
}

@media screen and (max-width:678px){
 .banner h1{
     font-size: 4rem;
   }
   h2{
    font-size:2rem ;
   }
}


/*
======================
botão - Getúlio/aimee
======================
*/

.botao-banner{
background-color: #6937A9;
color: #eee;
border: 3px solid black;
font-size: 1.5rem;
font-weight: 700;
margin: 2rem;
padding: 1rem 4rem;
border-radius: 2rem;
transition: .5s;
}

.botao-banner:hover{
background-color: #fff;
color: #6937A9;
}



/*
=========================
Destino
=========================
*/


.background-central-park{
  background-color: #e7e7e7;
}

.background-empire-hotel {
  background-color: #bbdddd;
}

.background-st-james-church {
  background-color: #8db5e9;

}

.background-th-met{
  background-color: #e272a1;
}

.background-campbell-apartment {
  background-color: #f0ce86;
}


.travel-container{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100vw;
height: 100vh;
}


/*
=========================
layout responsivo
=========================
*/

@media screen and (max-width:678px){
.travel-container{
  display: grid;
  grid-template-columns: 1fr;
  height: 230vh;
}
.botoes-img{
  display: none;
}
.botao-banner{
  font-size: 1.2rem;
}
}

/*
=========================
Destino - Continuação
=========================
*/

.title-and-image{
text-align: center;
margin: 2rem; 
}

.title-and-image h2{
  color: #000;
}

.img-container{
width: 50vw;
height: 50vh;
object-fit: cover;
}

@media screen and (max-width:678px){
.img-container{
 width: 80vw;
 height: 30vh;
 object-fit: cover;
}
}


/*
=======================
Botões das imagens - desktop
=======================
*/

.botoes-img{
font-size: 2rem;
color: white;
margin: 2rem 0;
}

.botao-img-prev{
margin-right: 2rem;
}

.botao-img-next{
margin-left: 2rem;
}

.botao-img-prev, .botao-img-next{
padding: 0.5rem 1rem;
background-color: #6937A9;
color: #eee;
border: 3px solid black;
box-shadow: 7px 7px 0 rgba(63, 19, 99, 0.8);
border-radius: 2rem;
transition: .5s;
}

.botao-img-prev:hover{
background-color: #fff;
color: #6937A9;
}

.botao-img-next:hover{
background-color: #fff;
color: #6937A9;
}

/*
=======================
Setas das imagens - mobile
=======================
*/
/* 
@media screen and (min-width:678px){
.setas-img{
  display: none;
}
}

.setas-icons{
font-size: 3rem;
position: absolute;
}

.img-setas{
display: flex;
justify-content: center;
align-items: center;
}

.setas-icons i{
position: relative;
margin: 0 4.5rem;
}

.setas-icons a{
color: #000;
} */

/*
=========================
Balões
=========================
*/

.baloes{
display: grid;
grid-template-columns: repeat(2,1fr);
}

.balao{
background-color: #B16CE3;
 width: 200px;
 height: 20px;
 margin: 1rem 2rem;
 border-radius: 12px;
} 

@media screen and (max-width:678px){
.baloes{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  }
}


/*
======================
balões (Aimee)
======================
*/

.balao-2{
width: 220px;
height: 280px;
padding: 1rem 1rem;
margin: 1rem 2rem;
background-color: #1b1b1b;
color: #eee;
border: 3px solid black;
box-shadow: 7px 7px 0 rgba(63, 19, 99, 0.8); /*alterei a cor da borda pra combinar com o fundo. Vê o que vocês acham.*/
} 

.balao-text{
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 900;
}

.balao-text a{
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 900;
  color: #000;
  transition: .5s;
}
.balao-text a:hover{
  color: #6937A9;
}


.balao-info{
width: 220px;
height: 280px;
padding: 1rem 1rem;
margin: 1rem 2rem;
background-color: #B16CE3;
color: #eee;
border: 3px solid black;
box-shadow: 7px 7px 0 rgba(63, 19, 99, 0.8);
}

/*
======================
Footer
======================
*/

footer{
  background-color: #8db5e9;
}

.footer-box{
  width: 100vw;
  height: 30vh;
  
}

.footer-redes ul, .links-rodape{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.footer-rede{
  font-size: 2rem;
  color: #6937A9;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.links-rodape{
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.fotter-rede a{
  color: #6937A9;
  transition: .5s;
}

.footer-rede a:hover{
  color: #E7E7E7;
}

.link-rodape{
  margin: 0.5rem 0;
}

