@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}


/*
====================
Estilos globais
====================
*/


h1{
  font-size: 5rem;
  color: #E7E7E7;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4{
  font-size: 1.7rem;
}


h1, h2{
  font-weight: 900;
  margin: 1rem;
}

li{
    list-style-type:none;
}

a{
    text-decoration: none;
}

/*
=====================
Menu de navegação
=====================
*/

.menu{
    width: 100%;
    height: 6rem;
    background-color: black;
  } 
  
  .menu_de_navegacao{
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .menu_de_navegacao ul{
    display: flex;   
  }
  
  .menu_de_navegacao li {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.menu_de_navegacao li:hover{
    background-color: #6937A9;
    color: black;
    transition: all .4s linear;
}

.menu_de_navegacao ul li a{
    color: #E7E7E7;
  font-weight: 900;
}

/*
==================
menu lateral/icone hamburguer
==================
*/

  .nav-btn{
    font-size: 2rem;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
  }


/*
====================
Banner 
====================
*/

.banner{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.5), 
  rgba(0,0,0,0)), url(../img/Central-Park.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

@media screen and (max-width:678px){
   .menu{
     display: none;
   }
   .banner h1{
       font-size: 4rem;
     }
     h2{
      font-size:2rem ;
     }
  }


@media screen and (min-width:678px){
  .nav-lateral, .nav-btn{
    display: none;
  }
}


.botao-banner{
  background-color: #6937A9;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem;
  padding: 1rem 4rem;
  border-radius: 2rem;
  transition: .5s;
}

.botao-banner:hover{
  background-color: #fff;
  color: #6937A9;
}

/*
=========================
Chat
=========================
*/

.chat-container{
  width: 100vw;
  /* height: 100vh; */
  background-color:#8D69A2;  /*fundo do bloco de fofoca*/
  display: flex;
  justify-content: center;
  align-items: center;

}



/*
================
Send
================
*/
]

.balao-send, .balao-receive{
  font-size: 4em;
}

.balao-send{
   background-color: #B16CE3;
   width: 250px;
   height: 250px;
   padding: 2rem;
   text-align: center;
   align-self: flex-end;
   color: #E7E7E7;
   margin:2rem;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   font-weight: 900;
}

.balao-send::before{
  content: '';
  position: absolute;
  left: 100%;
  top: 36px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 36px solid white;
  border-bottom: 13px solid;
  background-color: #B16CE3;
  border-bottom-left-radius: 16px 14px;
}

/*
================
Receive
================
*/

.balao-receive{
   background-color:#DDEF96;
   width: 250px;
   height: 250px;
   border-radius: 1rem 1rem 1rem 1rem;
   padding: 2rem;
   text-align: center;
   align-self: flex-start;
   color: black;
   margin:1rem 2rem 0;
   font-weight: 900;
}

.balao-receive::before{
  left: -7px;
  width: 20px;
  background-color: #DDEF96;
  border-bottom-left-radius: 16px 14px;
}

.balao-receive::after{
  right: -26px;
  width: 26px;
  background-color: black;
  border-bottom-left-radius: 10px;
}



@media screen and (max-width:678px){
  .chat-container{
    display: grid;
  }
}
